
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: Roboto Slab, sans-serif;
}

.hero{
  background-image: url("https://i.postimg.cc/0jRqygnL/home.jpg");
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  width: 940px;  
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px 0;
  margin: 0 auto;
  width: 940px;
  
}

.navbar {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Montserrat, sans-serif;
}

.navigation ul li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navigation a:hover {
  color: #fed136;
}

.navigation ul ul li {
  display: block;
  margin: 12px 0;
  padding: 0 12px;
}

.navigation li ul {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 80px;
  display: none;
  text-align: center;
}

.navigation li:hover ul {
  display: block;
}

.navigation li ul a {
  color: #000000;
  padding: 12px 0 0 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation li ul a:hover {
  color: #fed136;
}

.logo {
  max-width: 100%;
  height: 25px;
}

.logo-box {
  margin: auto;
  justify-content: flex-start;
  align-content: center;
  display: flex;
  flex: 0 0 33%;
}

/* 1 */

.icon i{

  font-size: 40px;
  border: solid 5px #fed136;
  width: 73px;
  height: 73px;
  line-height: 67px;
  border-radius: 50%;
  color: #fed136;
  text-indent: 8px; 
}

.icon {
  display: flex;
  align-content: center;
  justify-content: center;
}

.middle i{
  text-indent: 6px;
}

.third i {
  text-indent: 14px;
}

.splash {
  color: #fff;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 72px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.page-subtitle {
  margin: 24px 0;
  font-family: Playfair Display, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}



.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px 30px;
  font-family: Inconsolata, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #fed136;
}

.btn-one {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
 }

.btn-one:hover {
  color: #000000;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* services */

.bigbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex: 0 0 33.333%;
  position: relative;
  padding: 20px;
}

.box p {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

/* Our portfolio */

.grey-container {
  background-color: rgb(235, 233, 233);
  padding: 30px 0;
  
}

.box2 {
  flex:0 0 33,33%;
  display: flex;
  align-content: space-between;
}

.box-photo img {
  width: 280px;
  height: 100%;
  object-fit: cover;
}

.box-text {
font-weight: 300;
background-color: #fff;
margin-top: -10px;
text-align: center;
max-width: 300px;
padding-top: 10px;
padding-bottom: 10px;
}

.portfolio{
align-content: center;
max-width: 1400px;
justify-content: center;
margin: 0 auto;
gap: 20px;

}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  min-width: 940px;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: left;
  padding: 0;
}

.footer ul li {
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin: 48px 0;
}

.footer ul li i {
  font-size: 20px;
  background: #000000;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;  
}

.footer p {
  text-align: left;
  align-items: center;
  display: flex;
}

.copy {
  display: flex;
  flex:0 0 33%;
}

.social {
  display: flex;
  flex: 0 0 65%;
}

@media (max-width: 768px) {
  .bigbox {
    flex-direction: column;
    justify-content: center;
  }

  body {
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    display: grid;
  } 

  .container {
   align-items: center;
   padding: 0;
  }  

.splash-inner {
    max-width: 100%;
  }
 
  .hero {
    flex-direction: column;
    justify-content: center;   
  }

  .splash {
    text-align: center;
    max-width: 100%;
    display: grid;
    justify-content: space-between;
    align-content: center;
    margin-left: 1.5em;
  }

  .page-title {
    font-size: 30px;
  }

   .box {
    padding:10px;
    max-width: 350px;  
    margin-left: 2em;
  }

  .box-text {
    padding: 5px;
  }

  .box2 {
    justify-content: flex-start;
  }

  .footer {
    justify-content: flex-start;
  }

  .copy{
    flex: none;    
    margin: 0 10px;
  }

  .copy p {
    font-size: 14px;
  }

  
  
  .section-title {
    flex-direction: column;
    justify-content: center;
    margin: 2em;
    font-size: 30px;
  }

  .our-portfolio {
    margin-left: 2.5em;
  }

  .portfolio {
    align-content: baseline;
    margin-left: 3.5em;
  }

  .footer ul li {
    margin: 0;
    padding: 0;
  }
 

  .navbar {
    justify-content: flex-start;
    flex: 2 0 100%;
    font-size: 12px;
  }

  .navigation ul li {
    margin: 0 2px;
  }

  .logo-box {
    justify-content: flex-start;
    align-content: center;
    display: flex;
    flex: 1 0 8%;  
      
  }

  .logo {
    max-width: 100%;
    height: 19px;
    margin: 0 10px;
   
  }

  .services {
    margin-left: 4.5em;
  }

}
