
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: Inconsolata, sans-serif;
}

.hero{
  background-image: url("https://i.postimg.cc/0jRqygnL/home.jpg");
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 1100;
  margin: 0 auto;
  padding: 20px;
  
  
}

.section {
  padding: 96px 0;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  padding: 12px 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* display: inline-block; */
}

.navigation ul li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navigation a:hover {
  color: #ffeb35;
}

.navigation ul ul li {
  display: block;
  margin: 12px 0;
  padding: 0 12px;
}

.navigation li ul {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 80px;
  display: none;

  text-align: center;
}

.navigation li:hover ul {
  display: block;
}

.navigation li ul a {
  color: #000000;
  padding: 12px 0 0 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation li ul a:hover {
  color: #ffeb35;
}

.logo {
  max-width: 100%;
  height: 25px;
}

.logo-box {
  margin: auto;
}

/* 1 */


.splash {
  color: #fff;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 72px;
  word-spacing: -23px;
  font-weight: 700;
  line-height: 1.2;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 300;
  font-size: 16px;
}

.page-title span {
  font-family: Signika, sans-serif;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: Inconsolata, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 2s;
}

.btn:hover {
  background-position: 0 100%;
  color: #ffffff;
}

.btn-one {
  border-color: #fff;
  color: #fff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
  color: #3498db;
}
